{{ define "title" }}
  {{ .SiteName }} {{ .Title }}
{{ end }}

{{ define "style" }}
  <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
  <link rel="stylesheet" href="/third_party/datatables-bulma/dataTables.bulma.css" />
  <link rel="stylesheet" href="/static/css/kanban.css?{{.Version}}">
  <link rel="stylesheet" href="/static/css/custom.css?{{.Version}}">{{ end }}
{{define "subnav"}}

<nav class="navbar secondary" role="navigation" aria-label="secondary navigation">
  <div class="navbar-secondary-brand">
  </div>
  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-center">
          <div class="right-item">
          <div class="tab-link"><a href="#" title="open in new tabs" onclick="openAllTabs(); return false;"><i class="fas fa-external-link-alt"></i></a></div>
          <span title="Data as of {{ .ResultAge | HumanDuration}} ago">{{ if eq .TotalShown .Total }}{{ .Total }} unique items{{ else }}Showing {{ .TotalShown }} of {{ .Total}} unique items{{ end }}, 
          Avg age: {{ .CollectionResult.AvgAge | toDays }}, 
          Avg wait: {{ .CollectionResult.AvgCurrentHold | toDays }}
          </span>
          </div>
          <script>
          function openAllTabs() {
              {{ range .UniqueItems}}window.open("{{ .URL | toJS }}", "_tab{{ .ID }}");
              {{ end }}
          }
          </script>

    </div>
  </div>
    <div class="navbar-right">
      <div class="navbar-form">
          <div class="buttons">
            <form style="display: inline-block;" action="/k/{{ .ID }}" method="get">
              {{ if gt .Players 1 }}
                <select onchange="this.form.submit();" name="milestone">
                  {{ range $i, $name := .PlayerChoices }}
                    <option value="{{ $i }}" {{ if eq $.Player $i}}selected{{ end }}>{{ $name }}</option>
                  {{ end }}
                </select>
                of
              {{ end }}
              <select onchange="this.form.submit();" name="players">
                {{ range $i, $val := .PlayerNums }}
                  <option value="{{ $val }}" {{ if eq $.Players $val}}selected{{ end }}>{{ if eq $val 1}}Solo{{ else }}{{ $val }} Players{{ end }}</option>
                {{ end }}
              </select>
            </form>
          </div>
      </div>
    </div>
</nav>
{{ end }}

{{define "content"}}
  <div class="box kanban">
    <table id="kanban-table" class="compact is-size-6">
    <thead class="box-header">
    <tr>
      <th>Assi</th>
      {{ range .CollectionResult.RuleResults }}
      <th>{{ .Rule.Name}}</th>
      {{ end }}
    </tr>
    <tbody>

    {{ $col := .Collection }}

    {{ range .Swimlanes }}
    <tr class="swimlane">
      <td class="kanban-assignee" data-order="{{ .User.GetLogin }}">{{ .User | Avatar }}</td>
      {{ range .Columns }}
      <td class="kanban-column">
        {{ if . }}
          {{ range $x, $i := .Items }}
            {{ if ge $x $col.Overflow }}
              <br style="clear: both">
            {{ end }}

            <div class="sticky sticky-{{ $x }} {{ if ge $x $col.Overflow }}sticky-overflow{{ end }} {{ range $i.Labels }} {{ .Name | Class }}{{ end }}">
              <a href="{{ $i.URL }}" title="{{ $i.LastCommentBody }}">
                <span class="sticky-title">{{ $i.Title }}</span>
                <span class="sticky-id">#{{ $i.ID }}</span>
              </a>

              <div class="reactions">
                {{ if ge $x $col.Overflow }}🌊{{ end }}
                {{ range $value, $count := $i.Reactions }}
                  {{ if gt $count 1 }}
                    <div class="reaction-{{ $value }} sticky-reaction"></div>
                  {{ end }}
                {{ end }}     
              </div>            

            </div>
          {{ end }}
        {{ end }}
      </td>
      {{ end}}        
    </tr>
    {{ end }}
    </table>
{{ end }} 

{{ define "js" }}
<script src="/third_party/jquery/jquery-3.3.1.min.js"></script>
<script src="/third_party/datatables/jquery.dataTables.min.js"></script>
<script src="/third_party/datatables-bulma/dataTables.bulma.js"></script>
<script>
   $('#kanban-table').DataTable( {
        "order": [[ 0, "desc" ]],
        "paging": false,
        "info": false,
    });
</script>
{{ end }}